* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
nav{
	background: #2C3E50;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	color: #ffffff;
	padding: 40px 0 25px;
	position: fixed;
	width: 100%;
	z-index: 1000;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	color:#ffffff;
	margin-bottom: 20px;
}
.nav-rigth{
	float:right;
	margin-right:-15px;
}
.nav-rigth li {
	display: inline-block;
	letter-spacing: 1px;
}
nav a, li a {
	color: #ffffff;
	text-decoration: none;
	padding: 15px;
}

nav li a:hover {
	color: #18BC9C;
}
.start-bs{
	font-size: 1.7rem;
}
header{
	background: #18BC9C;
	color: white;
	width: 100%;
	text-align: center;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .container{
	padding-top: 200px;
    padding-bottom: 80px;
}
hr.star , hr.star-portfolio{
	padding: 0;
	border: none;
	border-top: solid 5px;
	text-align: center;
	max-width: 250px;
	margin: 25px auto 0px;
}

hr.star:after ,hr.star-portfolio:after{
	content: "\f005";
	font-family: FontAwesome;
	display: inline-block;
	position: relative;
	top: -0.8em;
	font-size: 2rem;
	padding: 0 4px;
	border-color: white;
	background-color: #18BC9C;
 	color: #ffffff;
}

hr.star-portfolio {
  border-color: #2C3E50;
}
hr.star-portfolio:after {
  background-color: white;
  color: #2C3E50;
}

.cnt-intro h1{
	display: block;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 4rem;
	margin-top: 20px;
	margin-bottom: 10px;
}

.cnt-intro span{
	font-size: 1.5rem;
 	font-weight: 300;
}

section {
    padding: 75px 0;
}
/*SECTION PORTFOLIO*/
#portfolio h2{
	font-size: 3rem;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #333333;
}
#portfolio .portfolio-img{
 	margin: 0 0 30px;
  	right: 0;
}

#portfolio .container .row .col-lg-4{
	padding-right: 15px;
	padding-left: 15px;
}

#portfolio .cnt-img{
	display: block;
	max-width: 400px;
	position: relative;
	cursor: pointer;
}

.cnt-img .modal-cnt{
	background: rgba(24, 188, 156, 0.9);
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
}

.cnt-img .modal-cnt .modal-img{
	position: absolute;
 	width: 100%;
  	height: 20px;
  	font-size: 20px;
  	text-align: center;
  	top: 50%;
  	margin-top: -12px;
  	color: #ffffff;
}

#portfolio .cnt-img .modal-cnt:hover{
	opacity: 1;
}

.cnt-img .modal-img i{
	color: #ffffff;
	margin-top: -15px;
}

.cnt-img img{
	display:block;
	max-width:100%; 
	height:auto;
}

